:root {
  --ahn-theme-color: #ffcf4e;
  --ahn-primary-color: #063d30;
  --ahn-primary-color-2: #006b5e;
  --ahn-secondary-color: #fe4e15;
  --ahn-pink-color: #FF73AE;
  --ahn-white-color: #fff;
  --ahn-black-color: #000;
  --ahn-heading-color: #0b0813;
  --ahn-grey-color: #F2F0EC;
  --ahn-body-color: #5A5860;
}
