@use "../../utils/" as *;

.ahncauses {
  box-shadow: 0px 36px 16px -24px rgba(18, 16, 24, 0.08);
  margin-bottom: 50px;
  padding: 15px;
  &__meta {
    & span {
      font-size: 14px;
      color: #85838b;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 600;
  }
  &__content {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 100%;
  }
  &__progress {
  }
  &__amount {
    & label {
      color: #56605d;
      font-size: 15px;
      display: block;
      line-height: 1;
    }
    & span {
      color: #121018;
      font-size: 18px;
      font-weight: 600;
      display: block;
    }
  }
  &__downtext {
    & p {
      font-size: 24px;
      font-family: var(--ahn-font-heading);
    }
  }
}

.swiper.ahncauses-slider-active {
  margin-right: -565px;
}
.ahn-arrow {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(18, 16, 24, 0.1);
  &-prev {
    margin-right: 10px;
  }
  &:hover {
    border: 1px solid rgba(18, 16, 24, 0.2);
    background: #121018;
    color: #f8f3e7;
  }
}

